<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="project2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="project2.My.MySettings.universitas_bersamaConnectionString"
            connectionString="server=localhost;user id=root;database=universitas_bersama"
            providerName="MySql.Data.MySqlClient" />
        <add name="project2.My.MySettings.universitas_informatikaConnectionString"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=universitas_informatika"
            providerName="MySql.Data.MySqlClient" />
        <add name="project2.My.MySettings.universitas_informatikaConnectionString1"
            connectionString="server=localhost;user id=root;database=universitas_informatika"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <applicationSettings>
        <project2.My.MySettings>
            <setting name="timepicker" serializeAs="String">
                <value>12/29/2016 00:25:21</value>
            </setting>
        </project2.My.MySettings>
    </applicationSettings>
</configuration>